/*corpo--------------------------------------------------------------------------------------------------------------------------------------*/
body {
    background-color: black;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10%;
    background-color: black;
    padding: 0px;
    text-align: center;
    font-size: 25px;
    color: blueviolet;
}

.container {
    display: flex;
    justify-content: space-around;
}

#linkmagias {
    color: rgba(226, 43, 195, 0.726);
    font-style: italic;
    font-family: serif;
    font-size: 17px;
}

#linkarmas {
    color: rgb(189, 20, 8);
    font-style: italic;
    font-family: serif;
    font-size: 17px;
}

#linklevels {
    color: rgb(12, 170, 12);
    font-style: italic;
    font-family: serif;
    font-size: 17px;
}

#linkregras {
    color: rgb(188, 190, 33);
    font-style: italic;
    font-family: serif;
    font-size: 17px;
}

#linkrecursos {
    color: rgb(221, 71, 12);
    font-style: italic;
    font-family: serif;
    font-size: 17px;
}

#linkcombate {
    color: red;
    font-style: italic;
    font-family: serif;
    font-size: 17px;
}

#linkclasses {
    color: rgb(17, 40, 138);
    font-style: italic;
    font-family: serif;
    font-size: 17px;
}

#linkitens {
    color: rgb(41, 32, 43);
    font-style: italic;
    font-family: serif;
    font-size: 17px;
    display: flex;
    justify-content: space-around;
}
      
/*corpo--------------------------------------------------------------------------------------------------------------------------------------*/


/*site principal--------------------------------------------------------------------------------------------------------------------------------------*/
#texto1 {
    color: blueviolet;
    font-size: 18px;
}

#title1 {
    color: blueviolet;
}

/*site principal--------------------------------------------------------------------------------------------------------------------------------------*/


/*Magias--------------------------------------------------------------------------------------------------------------------------------------*/

#back {
    background-color: black;
}

#texto4 {
    color: rgba(108, 30, 172, 0.678);
    font-size: 25px;
}

#magia {
    color: rgba(108, 30, 172, 0.678);
    font-size: 18px;
}

#title2 {
    color: rgba(0, 255, 255, 0.678);
}

#texto2 {
    color: rgba(214, 143, 12, 0.678);
    font-size: 25px;
}

#texto3 {
    color: rgba(214, 143, 12, 0.678);
    font-size: 18px;
}

#qwe {
    color: rgb(228, 59, 17);
    font-size: 25px;
}

#qwer {
    color: rgb(228, 59, 17);
    font-size: 18px;
}

#magias {
    color: rgba(0, 255, 255, 0.678);

}

#elementais {
    width: min-content 16px;
    width: max-content 18px;
    color: rgba(0, 255, 255, 0.678);
}

#ele {
    color: rgba(0, 255, 255, 0.678);
    font-size: 18px;
}

#naoele {
    color: rgba(135, 50, 206, 0.801);
}

#naoelemen {
    color: rgba(135, 50, 206, 0.801);
    font-size: 18px;
}

#invoca {
    color: rgba(212, 200, 31, 0.849);
}

#inv {
    color: rgba(212, 200, 31, 0.849);
    font-size: 18px;
}

#title {
    color: rgba(81, 255, 0, 0.418);
}

#aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa {
    color: rgba(81, 255, 0, 0.418);
    font-size: 18px;
}

/*Magias--------------------------------------------------------------------------------------------------------------------------------------*/


/*armas--------------------------------------------------------------------------------------------------------------------------------------*/
#titulopagina {
    color: rgb(189, 20, 8);
}

#textoarmas1 {
    color: rgb(189, 20, 8);
    font-size: 18px;
}

#titleArmas2 {
    color: rgb(189, 20, 8);
}

#TextoArmas2 {
    color: rgb(189, 20, 8);
    font-size: 18px;
}

#titleArmas3 {
    color: rgb(189, 20, 8);
}

#TextoArmas3 {
    color: rgb(189, 20, 8);
    font-size: 18px;
}

#titleArmasCorpo1 {
    color: rgb(189, 20, 8);
}

#armas-corpo-a-corpo {
    color: rgb(189, 20, 8);
}

/*armas--------------------------------------------------------------------------------------------------------------------------------------*/


/*levels--------------------------------------------------------------------------------------------------------------------------------------*/
#titleLevels {
    color: rgb(12, 170, 12);
}

#textoL1 {
    color: rgb(12, 170, 12);
    font-size: 20px;
}

#textoL2 {
    color: rgb(12, 170, 12);
    font-size: 18px;
}

#titleL2 {
    color: rgb(12, 170, 12);
}

/*levels--------------------------------------------------------------------------------------------------------------------------------------*/

/*Regras--------------------------------------------------------------------------------------------------------------------------------------*/
#titleR1 {
    color: rgb(188, 190, 33);
}

#textoR1 {
    color: rgb(188, 190, 33);
    font-size: 20px;
}

#titleR2 {
    color: rgb(188, 190, 33);
}

#listaR1 {
    color: rgb(188, 190, 33);
    font-size: 18px;
}

/*recursos--------------------------------------------------------------------------------------------------------------------------------------*/
.container {
    display: flex;
    justify-content: space-around;
}

#titleRE1 {
    color: rgb(221, 71, 12);
}

.rainbow {
    animation: color-change 3s infinite;
}

@keyframes color-change {
    0% {
        color: red;
    }

    10% {
        color: orange;
    }

    20% {
        color: yellow;
    }

    30% {
        color: green;
    }

    40% {
        color: greenyellow;

    }

    50% {
        color: aqua;
    }

    60% {
        color: blue;
    }

    70% {
        color: blueviolet;
    }

    80% {
        color: indigo;
    }

    90% {
        color: violet;
    }

    100% {
        color: rgb(189, 20, 8);
    }

}

#titleRE2 {
    color: rgb(221, 71, 12);
}

#textoRE1 {
    color: rgb(221, 71, 12);
    font-size: 18px;
}

#comuns {
    color: gray;
}

#LIcomun {
    color: gray;
}

#incomuns {
    color: rgb(102, 165, 8);
}

#LIincomun {
    color: rgb(102, 165, 8);
}

#raro {
    color: aqua;
}

#LIraro {
    color: aqua;
}

#épico {
    color: purple;
}

#LIépico {
    color: purple;
}

#lendário {
    color: orange;
}

#LIlendário {
    color: orange;
}

#mis {
    color: rgb(3, 3, 3);
}

#LImis {
    color: rgb(3, 3, 3);
}

#mist {
    display: flex;
    justify-content: center;
}

/*recursos--------------------------------------------------------------------------------------------------------------------------------------*/

/*Combate--------------------------------------------------------------------------------------------------------------------------------------*/
#titleCombate1 {
    color: rgb(230, 17, 17);
}

#textoCombate1 {
    color: rgb(230, 17, 17);
    font-size: 23px;
}

#ulCombate {
    color: rgb(230, 17, 17);
    font-size: 20px
}

#EstilosDeCombate {
    color: rgb(230, 17, 17);
}

#textoCombate2 {
    color: rgb(230, 17, 17);
    font-size: 20px;
}

#karatêsimples {
    color: rgb(194, 201, 206);
}

#Listakaratesimples {
    color: rgb(194, 201, 206);
    font-size: 18px;
}

#karatêmedio {
    color: rgb(119, 115, 115);
}

#Listakaratemedio {
    color: rgb(119, 115, 115);
    font-size: 18px;
}

#Karatêavançado {
    color: rgb(54, 54, 54);
}

#Listakarateavançado {
    color: rgb(54, 54, 54);
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    justify-content: space-around;
}

#KungFuSimples {
    color: rgb(223, 223, 113);
}

#ListaKungFuSimples {
    color: rgb(223, 223, 113);
    font-size: 18px;
}

#KungFuMédio {
    color: rgb(141, 141, 24);

}

#ListaKungFuMédio {
    color: rgb(141, 141, 24);
    font-size: 18px;
}

#KungFuAvançado {
    color: rgb(221, 221, 4);
}

#ListaKungFuAvançado {
    color: rgb(221, 221, 4);
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: space-around;
}

#Taekwondo {
    color: rgb(216, 62, 62);
}

#ListaTaekwondo {
    color: rgb(216, 62, 62);
    font-size: 18px;
}

#Kickboxing {
    color: rgb(23, 97, 167);
}

#ListaKickboxing {
    color: rgb(23, 97, 167);
    font-size: 18px;
}

#Boxing {
    color: rgb(240, 12, 12);
}

#ListaBoxing {
    color: rgb(240, 12, 12);
    font-size: 18px;
}


/*Combate--------------------------------------------------------------------------------------------------------------------------------------*/

/*Classes--------------------------------------------------------------------------------------------------------------------------------------*/
#titleClasses1 {
    color: rgb(17, 40, 138);
}

#textoClasses1 {
    color: rgb(17, 40, 138);
    font-size: 23px;
}

#ladrao {
    color: rgb(21, 21, 143);
    font-size: 20px;
}

#lutador {
    color: rgb(104, 29, 6);
    font-size: 20px;
}

#Atirador {
    color: rgb(11, 216, 216);
    font-size: 20px;
}

#Mago {
    color: rgb(164, 32, 204);
    font-size: 20px;
}

#Espadachim {
    color: rgb(99, 99, 99);
    font-size: 20px;
}

#Druida {
    color: rgb(4, 78, 23);
    font-size: 20px;
}

#Berserker {
    color: rgb(194, 17, 17);
    font-size: 20px;
}

#Sniper {
    color: rgb(194, 168, 17);
    font-size: 20px;
}

#Engenheiro {
    color: rgb(197, 107, 23);
    font-size: 20px;
}

#Bardo {
    color: rgb(142, 60, 150);
    font-size: 20px;
}

#Healer {
    color: rgb(36, 189, 15);
    font-size: 20px;
}

#Emo {
    color: rgb(11, 12, 12);
    font-size: 20px;
}

#textoCL {
    color: rgb(1, 2, 2);
}
#titleItens {
    color: rgb(41, 32, 43);
}

.TextoItensMag {
    color: rgb(41, 32, 43);
}