#texto1 {
    color: blueviolet;
    font-size: 18px;
}

#title1 {
    color: blueviolet;
}
body {
    background-color: black;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10%;
    background-color: black;
    padding: 0px;
    text-align: center;
    font-size: 25px;
    color: blueviolet;
}

.container {
    display: flex;
    justify-content: space-around;
}



#linkmagias {
    color: rgba(226, 43, 195, 0.726);
    font-style: italic;
    font-family: serif;
    font-size: 17px;
}

#linkarmas {
    color: rgb(189, 20, 8);
    font-style: italic;
    font-family: serif;
    font-size: 17px;
}

#linklevels {
    color: rgb(12, 170, 12);
    font-style: italic;
    font-family: serif;
    font-size: 17px;
}

#linkregras {
    color: rgb(188, 190, 33);
    font-style: italic;
    font-family: serif;
    font-size: 17px;
}

#linkrecursos {
    color: rgb(221, 71, 12);
    font-style: italic;
    font-family: serif;
    font-size: 17px;
}

#linkcombate {
    color: red;
    font-style: italic;
    font-family: serif;
    font-size: 17px;
}

#linkclasses {
    color: rgb(17, 40, 138);
    font-style: italic;
    font-family: serif;
    font-size: 17px;
}

#linkitens {
    color: rgb(41, 32, 43);
    font-style: italic;
    font-family: serif;
    font-size: 17px;
    display: flex;
    justify-content: space-around;
}
#linkRaças{
    color: darkgreen;
    font-style: italic;
    font-family: serif;
    font-size: 17px;
    display: flex;
    justify-content: space-around;
}